# This is a sample .env file. Copy this to .env and fill in the values.
# Now Remove all the values

COSMOS_DB_CREDENTIAL= ""
DATABASE_NAME= ""
# TRAININF
AZURE_OPENAI_ENDPOINT = ""
AZURE_OPENAI_MODEL_NAME = ""
AZURE_OPENAI_DEPLOYMENT = ""
AZURE_OPENAI_API_VERSION = ""
AZURE_OPENAI_API_KEY = ""
QDRANT_URL = ""

# PROMPTING
AZURE_OPENAI_PROMPT_ENDPOINT = ""
AZURE_OPENAI_PROMPT_MODEL_NAME = ""
AZURE_OPENAI_PROMPT_DEPLOYMENT = ""
AZURE_OPENAI_PROMPT_API_KEY = ""
AZURE_OPENAI_PROMPT_API_VERSION = ""